<div class="row">
	<div class="twelve columns centered">
		
		<div class="row">
			<div class="encabezado">
				<a><span>&laquo; Leccion 3: </span>Componentes Básicos</a>
				<span class="right_ab"><a><strong>Programación Orientada a Objetos</strong></a></span>
			</div>
		</div>
			
		<br /><br /><br /><br /><br /><br />
		
		<div class="row">
			<div class="twelve columns centered">
				<div id="sb-slider" class="sb-slider">
				
					<%= image_tag("clases1.png", :title => 'Clase: Clasificación de objetos.')%>
					<%= image_tag("clases2.png", :title => 'Clase: Plantilla para construir objetos.')%>
					<%= image_tag("clases3.png", :title => 'Sintaxis de una clase.')%>
					<%= image_tag("clases4.png", :title => 'Ejemplo de una clase.')%>
					<%= image_tag("clases5.png", :title => 'Ejemplos de objetos de la clase persona.')%>
					<%= image_tag("clases6.png", :title => 'Clase: Define varios objetos.')%>

				</div>
			</div>
		</div>
			
	</div>    <!-- fin container -->
</div>
