<div class="row">
	<div class="twelve columns centered">
		
		<div class="row">
			<div class="encabezado">
				<a><span>&laquo; Leccion 3: </span>Componentes Básicos</a>
				<span class="right_ab"><a><strong>Programación Orientada a Objetos</strong></a></span>
			</div>
		</div>
			
		<br /><br /><br /><br /><br /><br />
		
		<div class="row">
			<div class="twelve columns centered">
				<div id="sb-slider" class="sb-slider">
				
					<%= image_tag("estructura1.png", :title => 'Estructura de un programa.')%>
					<%= image_tag("estructura2.png", :title => 'Definición de la clase.')%>
					<%= image_tag("estructura3.png", :title => 'Declaración de: método principal, atributos y métodos.')%>
					<%= image_tag("estructura4.png", :title => 'Paquetes: Agrupación de clases externas.')%>
					<%= image_tag("estructura8.png", :title => 'Sintaxis de la Estructura de un programa.')%>
					<%= image_tag("estructura5.png", :title => 'Ejemplo: Imprimir Hola mundo.')%>
					<%= image_tag("estructura6.png", :title => 'Ejemplo: Suma de dos números.')%>
					<%= image_tag("estructura7.png", :title => 'Estructura: Clase, atributos, métodos e instrucciones.')%>

				</div>
			</div>
		</div>
			
	</div>    <!-- fin container -->
</div>