<div class="row">
	<div class="twelve columns centered">
		
		<div class="row">
			<div class="encabezado">
				<a><span>&laquo; Leccion 3: </span>Componentes Básicos</a>
				<span class="right_ab"><a><strong>Programación Orientada a Objetos</strong></a></span>
			</div>
		</div>
			
		<br /><br /><br /><br /><br /><br />
		
		<div class="row">
			<div class="twelve columns centered">
				<div id="sb-slider" class="sb-slider">
				
					<%= image_tag("metodos1.png", :title => 'Métodos: Representan las acciones que realizan los objetos.')%>
					<%= image_tag("metodos2.png", :title => 'Métodos = Comportamientos.')%>
					<%= image_tag("metodos3.png", :title => 'Métodos: Formado por un nombre y un cuerpo.')%>
					<%= image_tag("metodos4.png", :title => 'Métodos: Sintaxis básica.')%>
					<%= image_tag("metodos5.png", :title => 'Métodos: Sintaxis básica.')%>
					<%= image_tag("metodos6.jpg", :title => 'Activar método = Llamar al método o paso de mensaje.')%>
					<%= image_tag("metodos5.2.png", :title => 'Ejemplo método.')%>
					<%= image_tag("metodos6.png", :title => 'Método principal: Desencadena la ejecución del programa.')%>
					<%= image_tag("metodos7.png", :title => 'Sintaxis del Método Principal.')%>
					<%= image_tag("metodos8.png", :title => 'Ejemplo de Método Principal.')%>
					<%= image_tag("metodos9.png", :title => 'Métodos: comportamientos de un objeto.')%>

				</div>
			</div>
		</div>	
		
	</div>    <!-- fin container -->
</div>